:root {
	--c-brand: #409eff;
	--c-brand-light: #65b1fd;
}

.custom-block.tip {
	border-color: var(--c-brand-light);
}

.home-hero .image {
	width: 200px;
	height: 200px;
}

.nav-bar .logo {
	height: 30px;
	margin-right: 2px;
}

.content img {
	border-radius: 10px;
}

.nav-dropdown-link-item .icon {
	display: none;
}

.DocSearch {
	--docsearch-primary-color: var(--c-brand) !important;
}

#play-vite-audio {
	padding: 0;
	margin-left: 5px;
	display: inline-flex;
}

#play-vite-audio img {
	opacity: 0.8;
}

.cn-footnote {
	margin-top: 20px;
}

.cn-footnote .title {
	display: block;
	margin-bottom: 10px;
}

.release-tag {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 6px;
	margin-left: 6px;
	background: var(--c-brand);
	color: white;
	border-radius: 10px;
}

#wwads-container {
	position: relative;
	float: right;
	z-index: 9;
	margin: 0 0 16px 16px;
}

#wwads-container .wwads-text {
	font-size: 12px;
}

.page .container .content {
	clear: none !important;
}

@media (min-width: 1368px) {
	#wwads-container {
		position: fixed;
		bottom: 10px;
		right: 10px;
		margin: 0;
	}
}

.VPImage.logo {
	border-radius: 3px;
}

.VPHome {
	/* padding-bottom: 36px!important; */
	margin-bottom: 36px!important;
}

.VPHomeHero .image-bg {
	right: 0;
	left: initial;
	transform: translateY(-50%);
}

.VPHomeHero .VPImage.image-src {
	border-radius: 3px;
	left: initial;
	right: 0;
	transform: translateY(-50%);
}

.VPHomeHero .image-container {
	display: flex;
	justify-content: flex-end;
	transform: initial;
}

.VPHomeHero.VPHero.has-image .text {
	margin: 6px 0;
	font-size: 35px;
	line-height: 1.3;
}

.tagline{
	font-size: 19px!important;
}

@media (max-width: 960px) {
	.VPHomeHero .VPImage.image-src {
		left: 50%;
		right: initial;
		transform: translate(-50%, -50%);
	}
	.VPHomeHero .image-bg {
		left: 50%;
		right: initial;
		transform: translate(-50%, -50%);
	}
}

@media (min-width: 768px) {
	.VPHome {
		padding-bottom: 48px !important;
	}
}

.s-51la-image {
	display: inline !important;
	vertical-align: middle;
	width: 60px;
	margin-top: -3px;
}

.VPButton {
	position: relative;
}

.VPButton:hover::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: var(--vp-home-hero-image-background-image);
	filter: blur(24px);
	z-index: -1;
}

.VPSocialLinks.VPNavBarSocialLinks.social-links {
	margin-right: 0;
}
